<%= form_with(model: intervention, local: true) do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :buidling_id %>
    <%= form.text_field :buidling_id %>
  </div>

  <div class="field">
    <%= form.label :battery_id %>
    <%= form.text_field :battery_id %>
  </div>

  <div class="field">
    <%= form.label :column_id %>
    <%= form.text_field :column_id %>
  </div>

  <div class="field">
    <%= form.label :elevator_id %>
    <%= form.text_field :elevator_id %>
  </div>

  <div class="field">
    <%= form.label :employeeId %>
    <%= form.text_field :employeeId %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result %>
  </div>

  <div class="field">
    <%= form.label :report %>
    <%= form.text_area :report %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
