<!DOCTYPE html>
<html>
  <head>
    <title>RocketApp</title>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LC4KS3165J"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LC4KS3165J');
    </script>


    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://cdn.jsdelivr.net/npm/et-line@1.0.1/style.min.css' %>
    <%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.0.10/css/all.css' %>

    <%= favicon_link_tag 'LOGO_702x702.png'%>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    
    <% if params[:controller].include?('active_admin') %>

      <%= stylesheet_link_tag 'active_admin', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'active_admin', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ENV["google_api_key"] %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

   <%= yield(:head_tags) %>



</head>

 
  <body>
    <%= yield %>

    <script> var plugin_path ='assets/';</script>
  </body>
</html>
